<head>
        <title>Rashi Dembi</title>
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Darker+Grotesque&display=swap"
        rel="stylesheet">

        <div class = "logo"></div>
        <img src="help.png" alt="Logo">
        <button type="button" onclick="alert('Thanks!')">Submit!</button>
        <style>
            
            .logo {
                position: absolute;
                width: 20%;
                height: 20%;
            }
            
            body {
                background-color: #e8e8e8;
                text-align: center;
            }
            h1 {
                font-family: 'Abril Fatface', cursive;
            }
            p {
                font-family: 'Darker Grotesque', sans-serif;
            }
        </style>
    </head>